* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(199, 192, 192);
}

li {
  list-style: none;
}

.header {
  top: 0;
  z-index: 1;
  font-size: 20px;
  position: fixed;
  width: 100%;
  box-shadow: 0 5px 5px rgb(0, 0, 0);
  text-align: center;
  display: inline;
  background-color: rgb(0, 0, 0);
}

nav ul {
  margin-top: 23px;
}

nav ul li {
  display: inline;
  padding: 0px 10px 0px 10px;
}

a {
  text-decoration: none;
  color: white;
}

.message {
  margin-top: 90px;
  text-align: center;
  font-size: 30px;
}

.logo {
  float: left;
  margin-left: 5%;
  margin-top: 5px;
}

.cartContainer {
  float: right;
  margin-right: 5%;
  margin-top: 5px;
}

.cartLogoContainer li {
  display: inline;
}

.cartLogoContainer li span {
  text-align: center;
  float: right;
  margin-top: 17px;
}

.services {
  margin-top: 90px;
  text-align: center;
}

.aboutUs {
  margin-top: 90px;
  text-align: center;
}

.contact {
  margin-top: 90px;
  text-align: center;
}

.errorPage {
  margin-top: 90px;
  text-align: center;
}
.loading {
  margin-top: 60px;
  text-align: center;
}

.loadingDetail {
  font-size: 50px;
}

.productButton {
  color: white;
  padding: 1.5px 10px 1.5px 10px;
  background-color: red;
  border-style: solid;
  border-color: black;
  border-radius: 5px;
  font-size: 75%;
}

.productNav {
  margin-bottom: 60px;
}

.productNav li {
  display: inline;
  padding: 0px 10px 0px 10px;
  font-size: 20px;
}

.productNav a {
  color: white;
  padding: 1.5px 3px 1.5px 3px;
  background-color: red;
  border-style: solid;
  border-color: black;
  border-radius: 5px;
}

.productHomeImg {
  border-style: solid;
  border-color: black;
  border-radius: 5px;
}

.productList {
  margin-bottom: 60px;
}

.productContainer {
  display: grid;
  grid-template-areas:
    "c1 c2 c3"
    "c3 c4 c5"
    "c5 c6 .";
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
}

.productDetail {
  margin-top: 60px;
  display: grid;
  grid-template-areas:
    "a1 a1"
    "a3 a2"
    "a3 a4";
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
}

.productDetailName {
  grid-area: a1;
  justify-self: center;
  font-size: 50px;
  margin-bottom: 50px;
  margin-top: 30px;
}

.productDetailPrice {
  grid-area: a2;
  justify-self: center;
  font-size: 30px;
  margin-left: 400px;
  margin-bottom: 12px;
}

.productDetailImg {
  grid-area: a3;
  justify-self: left;
  margin-left: 25%;
  border-style: solid;
  border-color: black;
  border-radius: 5px;
}

.productDetailDesc {
  grid-area: a4;
  justify-self: center;
  text-align: center;
  font-size: 20px;
  width: 50%;
  margin-left: 400px;
}

.addToCart li {
  display: inline-block;
  margin-left: 72px;
}

.cartMinus {
  background-color: gray;
  color: white;
  padding: 5px 10px 5px 5px;
  border-radius: 2px;
  border-style: solid;
  border-color: black;
  font-size: 15px;
}

.cartPlus {
  background-color: gray;
  color: white;
  padding: 5px 7px 5px 7px;
  border-radius: 2px;
  border-style: solid;
  border-color: black;
  font-size: 15px;
}

.addProductNumber {
  font-size: 135%;
}

.addProduct {
  background-color: rgb(60, 121, 78);
  color: white;
  padding: 5px 5px 5px 5px;
  border-radius: 2px;
  border-style: solid;
  border-color: black;
  font-size: 15px;
  margin-left: 108px;
}

.endPurchase {
  background-color: rgb(60, 121, 78);
  color: white;
  padding: 5px 5px 5px 5px;
  border-radius: 2px;
  border-style: solid;
  border-color: black;
  font-size: 15px;
  margin-left: 95px;
  margin-top: 15px;
}

.cartControls {
  margin-top: 20px;
}

.cartNumber {
  color: white;
  margin-left: 10px;
}

.cartPage {
  margin-top: 60px;
}

.cartDisplay {
  margin-top: 70px;
  margin-left: 10%;
  padding-right: 50px;
}

.finalCart {
  padding: 15px 15px 15px 15px;
  background-color: gray;
  color: white;
  margin-right: 70%;
  border-style: solid;
  border-color: black;
  border-radius: 5px;
  margin-left: 20px;
  text-align: center;
}

.finalCart li {
  display: inline-block;
  margin-left: 20px;
}

.emptyCart {
  margin-left: 27px;
  background-color: red;
  color: white;
  border-style: solid;
  border-color: black;
  border-radius: 2px;
  font-size: 15px;
  padding: 5px 5px 5px 5px;
}

.endOrder {
  margin-left: 14%;
  background-color: red;
  color: white;
  border-style: solid;
  border-color: black;
  border-radius: 2px;
  font-size: 15px;
  padding: 5px 5px 5px 5px;
}

.eraseItem {
  color: white;
  padding: 1px 3px;
  background-color: red;
  border-style: solid;
  border-color: black;
  border-radius: 15px;
}

.checkOut {
  margin-top: 150px;
}

.formContainer {
  text-align: center;
  border-style: solid;
  border-color: black;
  background-color: rgb(73, 72, 72);
  margin-left: 30%;
  margin-right: 30%;
  color: white;
}

.fullNameInput {
  margin-bottom: 60px;
}

.phoneInput {
  margin-bottom: 60px;
}

.emailInput {
  margin-bottom: 60px;
}

.sendButton {
  padding: 5px 5px;
  background-color: red;
  color: white;
  border-style: solid;
  border-color: black;
  border-radius: 3px;
  margin-bottom: 15px;
}

form label {
  font-size: 20px;
}
